In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ta
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
df = pd.read_csv("../DATA/4-hours Pepperstone/4-hours_EURUSD.csv")

In [3]:
def log_transform(df, col, n):
    """
    Applies a logarithmic transformation to a specified column in a DataFrame 
    and calculates the percentage change of the log-transformed values over a 
    given window size.

    Parameters:
    -----------
    df : pandas.DataFrame
        Input DataFrame containing the column to be logarithmically transformed.
    col : str
        The name of the column to which the logarithmic transformation is to be applied.
    n : int
        The window size over which to calculate the percentage change of the log-transformed values.

    Returns:
    --------
    df_copy : pandas.DataFrame
        A new DataFrame containing two new columns:
        1. log_{col}: Log-transformed values of the specified column.
        2. ret_log_{n}: Percentage change of the log-transformed values over the window size n.
    """
    df_copy = df.copy()
    df_copy[f"log_{col}"] = np.log(df_copy[col])
    df_copy[f"ret_log_{n}"] = df_copy[f"log_{col}"].pct_change(n)
    
    return df_copy

In [4]:
df = log_transform(df, "close", 5)
df[["log_close", "ret_log_5"]]

       log_close  ret_log_5
0       0.185458        NaN
1       0.183413        NaN
2       0.182563        NaN
3       0.182438        NaN
4       0.179183        NaN
...          ...        ...
13671   0.066237  -0.010206
13672   0.065694  -0.013355
13673   0.066246   0.006972
13674   0.065657  -0.011417
13675   0.067322  -0.004423

[13676 rows x 2 columns]