In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ta
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
df = pd.read_csv("../../../Alpha-Quant-Course/Data/FixTimeBars/AUDUSD_4H_Admiral_READY.csv")

In [3]:
def log_transform(df, col, n):
    """
    Applies a logarithmic transformation to a specified column in a DataFrame 
    and calculates the percentage change of the log-transformed values over a 
    given window size.

    Parameters:
    -----------
    df : pandas.DataFrame
        Input DataFrame containing the column to be logarithmically transformed.
    col : str
        The name of the column to which the logarithmic transformation is to be applied.
    n : int
        The window size over which to calculate the percentage change of the log-transformed values.

    Returns:
    --------
    df_copy : pandas.DataFrame
        A new DataFrame containing two new columns:
        1. log_{col}: Log-transformed values of the specified column.
        2. ret_log_{n}: Percentage change of the log-transformed values over the window size n.
    """
    df_copy = df.copy()
    df_copy[f"log_{col}"] = np.log(df_copy[col])
    df_copy[f"ret_log_{n}"] = df_copy[f"log_{col}"].pct_change(n)
    
    return df_copy

In [4]:
df = log_transform(df, "close", 5)
df[["log_close", "ret_log_5"]]

       log_close  ret_log_5
0      -0.244878        NaN
1      -0.243334        NaN
2      -0.243678        NaN
3      -0.244686        NaN
4      -0.249231        NaN
...          ...        ...
12511  -0.381202   0.013276
12512  -0.382359   0.012507
12513  -0.384942   0.013039
12514  -0.380909   0.000884
12515  -0.382271  -0.000805

[12516 rows x 2 columns]